.box_overflow_fix {
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    -ms-box-sizing: border-box!important;
    box-sizing: border-box!important;
}

#content {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 190px;
}

/*
---------------------------
    Editor
---------------------------
*/

#regex_editor {
    height: 100%;
    width: 60%;
    float: left;
}

#regex_editor #main_editor {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    padding: 10px;
}

.regex_container {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
}

.regex {
    width: 100%;
    height: 25px;
    position: relative;
}

.regex_body {
    position: absolute;
    left: 0;
    top: 0;
    right: 150px;
    bottom: 0;
}

.regex_body .slash_l, .regex_body .slash_r {
    position: absolute;
    font-weight: bold;
}
.regex_body .slash_l {
    left: 0;
}

.regex_body .slash_r {
    right: 0;
}

.regex_body_container {
    position: absolute;
    left: 10px;
    top: 0;
    right: 15px;
    bottom: 0;
}

#txtRegExBody {
    width: 100%;
}

.regex_right {
    float: right;
}

#txtRegExFlag {
    width: 35px;
}

#btnRegExSave {
}

/*------------------*/

.inout_container {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 60px;
    bottom: 5px;
}
.source_container {
    height: 50%;
}
.output_container {
    height: 50%;
}

/*------------------
    Right side
*/

#regex_treeview {
    height: 100%;
    width: 40%;
    overflow: auto;
    border-left: 1px solid transparent;
    border-color: #fff;
    background: #f7f7f7;
    -webkit-box-shadow: -3px 0 10px -5px rgba(0,0,0,.35);
    -moz-box-shadow: -3px 0 10px -5px rgba(0,0,0,.35);
    box-shadow: -3px 0 10px -5px rgba(0,0,0,.35);
}

/** REGEX **/
#tblRegex .head1, #tblRegex .td1 {
    width: 30px;
}

#tblRegex .head3, #tblRegex .td3 {
    width: 50px;
}

/** GROUPS **/
.group_list_container {

}

/** TEMPLATES **/
#tblTemplate .head1, #tblTemplate .td1 {
    width: 30px;
}

#tblTemplate .head2, #tblTemplate .td2 {
    width: 50px;
}
#tblTemplate .head4, #tblTemplate .td4 {
    width: 50px;
}

.template-key-container {
    position: absolute;
    left: 0;
    width: 96px;
}

.template-name-container {
    position: absolute;
    left: 103px;
    right: 4px;
}

#txtTemplateKey, #txtTemplateName {
    width: 100%;
}

/*------------------*/

.test_popup_container {
    display: inline-block;
    background: #eee;
    border: 1px solid #999;
    padding: 15px;
    width: 400px;

}