body {
    font-family: 'Open Sans',"Lucida Sans Unicode","Lucida Grande",sans-serif !important;
    margin: 0;
    overflow: hidden;
    font-size: 16px !important;
}

textarea {
    box-sizing: border-box;
    resize: none;
}

input {
    font-family: monospace;
}

pre {
    display: inline-block;
    margin: 0;
}

ol {
    color: #000;
    outline-color: #000;
}

li {
    font-size: 0.8em;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    background: #2ea0d9;
    color: #fff;
    font-size: 0.9em;
    padding: 2px 10px;
    text-align: center;
    cursor: pointer;
    min-width: 100px;
    vertical-align: middle;
}

.fill {
    width: 100%;
}

.clear {
    clear: both;
}

.rel {
    position: relative;
}

.h_line {
    height: 25px;
}

.v_pad_5 {
    padding: 5px 0;
}

.v_pad_10 {
    padding: 10px 0;
}

.h_pad_5 {
    padding: 0 5px;
}

.h_pad_10 {
    padding: 0 10px;
}


.icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: inline-block;
}

.icon.go {
    background: url(../assets/script_go_16.png);
}
.icon.delete {
    background: url(../assets/script_delete_16.png);
}
.icon.edit {
    background: url(../assets/script_edit_16.png);
}

.c_blue {
    color: #42afff;
}

.bg_blue {
    background: #42afff;
}

.bg_orange {
    background: #ffaa33;
}

